@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';


@font-face {
    font-family: JSans;
    src: url(PlusJakartaSans-VariableFont_wght.ttf);
    font-weight: bold;
}

   #navbar {
         background-color : #513737;
         display:flex;
         padding: 5px;
         gap: 30px;
   }

   #navbar > p {
    color: #F7B0CD;
    font-size: 20px;
    padding-top: 25px;
    font-family: 'JSans';
   }

   #navbar > #logo {
    height: 70px;
    padding-top:10px;
   }

   #navbar > #profile {
    height: 70px;
    padding-top:20px;
    padding-left:50px;
   }

   #navbar > #reports {
    padding-right: 60%;
   }