@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';
@plugin "daisyui";

@font-face {
    font-family: JSans;
    src: url("/PlusJakartaSans-VariableFont_wght.ttf") format("truetype");
    font-weight: bold;
}
:root {
    --pink: rgb(247, 176, 205);
    /*--background: rgb(59, 46, 40);*/
    --background: ghostwhite;
    --green: rgb(164,197,54);
    --border: rgb(68,55,50);
    --text-color: rgb(59, 46, 40);
    --error-color: rgb(255,100,103);

    --small-text: 1rem;
    --medium-text: 1.25rem;
    --large-text: 1.75rem;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--background);
}

* {
    font-family: "JSans", sans-serif;
    background-color: transparent;
    color: var(--text-color);
    font-size: var(--medium-text);
}

div {
    background-color: transparent;
}

button {
    border-radius: 5px;
    padding: 1.5px;
    color: var(--background);
}

button {
    border: 0;
    background-color: var(--pink);
    padding: 12px 35px;
    font-size: var(--medium-text);
    font-weight: bold;
}
button:hover {
    box-shadow: 0 0 0 1px var(--pink);
    background-color: var(--background);
    transition: 0.2s ease-out;
    color: var(--pink);
}

button.green {
    background-color: var(--green);
}
button.green:hover {
    box-shadow: 0 0 0 1px var(--green);
    background-color: var(--background);
    color: var(--green);

}

section {
    margin: 30px;
}

section h1 {
    width: 100%;
    padding: 12px 35px;
    background-color: var(--green);
    font-size: var(--large-text);
    font-weight: bold;
    color: var(--background);
    margin-bottom: 25px;
}

section h2 {
    padding: 0.75rem 2rem;
    color: var(--green);
    font-size: var(--large-text);
    font-weight: bold;
}

input,select,textarea {
    font-size: 1rem;
    font-weight: normal;
    padding: 0 0.5rem;
    height: 1.75rem;
    background-color: lightgray;
    color: var(--text-color);
}
.input-container {
    margin:  0 0 0.3rem 2rem;
    padding: 0;
    line-height: 1rem;
    display: flex;
    flex-wrap: wrap;
}

::-webkit-calendar-picker-indicator {
    filter: invert(1);
}


label{
    display: inline-block;
    margin: 0.5rem 0;
    width: 15rem;
}

.input-wrapper { /* for vertically aligning input text and the error message */
    display: flex;
    flex-direction: column;
    width: 400px;
}

/* tables */
td {
    border: 3px solid var(--border);
    padding: 0.8rem;
}
tr:hover {
    background-color: var(--border);
}
table {
    border-collapse: collapse;
    text-align: left;
}
th {
    color: var(--background);
    background-color: var(--green);
    border: 3px solid var(--green);
    padding: 0.5rem;
}